<footer>
  <div class="social">
	<a href="#"><i class="fab fa-github fa-lg"></i></a>
    <a href="#"><i class="fab fa-codepen fa-lg"></i></a>
    <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
  </div>
            
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/">Home</a></li>
    <li class="list-inline-item"><a href="/about">About</a></li>
    <li class="list-inline-item"><a href="/contact">Contact</a></li>
  </ul>
  <p class="copyright">Weathery © 2020</p>
</footer>